body {
    background-color: #f7f7f7;
    font-family: sans-serif;
    text-align: center;
}

h2 {
    margin-below: 10px;
    margin-above: 0;
}

.big-container {
    display: inline-block;
}

.input-container {
    width: 485px;
    margin: auto;
}

.my-react-spinner {
    top: -9px;
    left: 100%;
}

.react-spinner_bar {
    background-color: black;
}

.pagesOverTimePlot {
    margin-left: 200px;
    padding-left: 200px;
}

.book-popup {
    margin: 0 auto;
}

.book-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.plot-placeholder {
    color: #686868;
    font-size: 12px;
}