body {
    background-color: #f7f7f7;
    font-family: sans-serif;
    text-align: center;
}

h2 {
    margin-below: 10px;
    margin-above: 0;
}

.big-container {
    display: inline-block;
}

.input-container {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box {
    margin-left: 5px;
}

.spinner-container {
    width: 32px;
    height: 32px;
}

.react-spinner_bar {
    background-color: black;
}

.book-popup {
    margin: 0 auto;
}

.book-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.minor {
    color: #686868;
    font-size: 12px;
}

.placeholder {
    color: #686868;
    font-size: 12px;
    margin: 60px;
}

.user-info {
    display: inline-flex;
    align-items: center;
    margin: 20px;
}

.user-image {
    margin-right: 15px;
}

.user-text {
    font-size: 1em;
    font-style: italic;
}